services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: backend-container
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: frontend-container
    ports:
      - "3000:3000"
    depends_on:
      - backend
